body {
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100vh;
    font-size: 3pc;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    background-color: #229fbe; 
}

table {
    align-items: center;
    margin: auto;
    width: 90%;
    align-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

.texto_inicio{
	/* align-items: center; */
	margin: auto;
	width: 90%;
	align-content: center;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	overflow: hidden;
	background-color: rgba(0, 255, 255, 0.452);
}

th {
    height: 60px;
    color: #ffffff;
}

td {
    border: 1px solid;
    height: 60px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #dddddd;
}

#cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    transition: 0.1s;
    transform: translate( -50%,-50%);
    border-radius: 50%;
    pointer-events: none;
}

#comedores {
    border: 5px solid;
    margin: auto;
    padding: 10px;
}

#horarios{
	border: 5px solid;
	margin: auto;
	padding: 10px;
}

#inicio{
	border: 5px solid;
	margin: auto;
	padding: 10px;
}

#navegacion{
    border: 5px solid;
    margin: auto;
    padding: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
}

title{
	text-align: center;
}

#image {
	width: 800px;
	height: 600px;
	object-fit: contain;
	margin: auto;
}
#title {
	color: white;
	position: relative;
	bottom: 129px;
	text-align: center;
	font-size: 70px;
	background-color: rgba(0, 0, 0, 0.7);

}

#snackbar {
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: absolute; /* Sit on top of the screen */
    left: 41%; /* Center the snackbar */
    bottom: 50%; /* 30px from the bottom */
    opacity: 0.6;
}

#snackbar.show {
    visibility: visible; /* Show the snackbar */
     /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
     However, delay the fade out process for 2.5 seconds */
}